html {
    font-family: 'Rufina', sans-serif;
}

body {
    background-color: #efefef;
    margin: 0;
    color: #034d6c;
}

a {
    transition: color 0.3s ease;
    font-family: 'Rubik', sans-serif;
    color: #034d6c;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: #f84f07;
}

html body header {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    background-color: #efefef;
    box-shadow: 3px 3px 5px #4a4a4a;
    padding: 15px 30px;
}

header .logo {
    display: flex;
    align-items: center;
}

html body nav ul {
    list-style-type: none;
    font-size: 16px;
}

html body nav ul li {
    display: inline-block;
}

html body nav ul li a {
    padding: 0, 15px;
}

.hero {
    position: relative;
    z-index: 1;
    display: flex;
    background-color: #fff;
    padding: 20px 50px;
    justify-content: center;
}

.hero .hero-content {
    width: 1200px;
    display: flex;
    flex-direction: row;
}

.hero h1 {
    font-family: 'Rufina', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

.hero p {
    font-family: 'Rubik', sans-serif;
    margin-bottom: 50px;
}

.hero .left {
    width: 600px;
    align-self: center;
}

.btn {
    background-color: #f84f07;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}

a.btn {
    color: #fff;
}

.btn:hover{
    padding: 20px 40px;
}

a.btn:hover{
    padding: 20px 40px;
    border-radius: 5px;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 3px #00e870;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 20px 30px;
}

.third {
    width: 360px;
    margin: 20px;
}

.box {
    background-color: #efefef;
    box-shadow: 0 2px 3px #4a4a4a;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 20px;
}

.contact-form input {
    font-family: 'Rubik', sans-serif;
    border: none;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: calc(100% - 20px);
    box-shadow: 0 1px 2px #00e870;
}

.contact-form textarea {
    font-family: 'Rubik', sans-serif;
    border: none;
    height: 100px;
    padding: 15px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: calc(100% - 20px);
    resize: none;
    box-shadow: 0 1px 2px #00e870;
}

.center {
    display: flex;
    justify-content: center;
}

.content {
    width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
}

.full-width {
    width: 100%;
}

.footer {
    padding: 50px 0 0 0;
    background-color: #333;
    color: #fff;
}

.social-link {
    margin-top: 20px;
    margin-bottom: 30px;
}

.social-link a {
    margin: 0 10px;
}

.social {
    padding: 5px;
}

.made-with {
    padding: 0 30px;
    color: #555;
}

.bg {
    background-color: #fff;
}

.orange {
    color: #f84f07;
    transition: 0.3ms;
    
}

.orange:hover {
    font-size: 18px;
}

.padded {
    padding: 20px 30px;
}

.vert-pad {
    padding: 20px 0;
}

.letter {
    width: 100%;
}

.right {
    width: 600px;
}

.left {
    width: 600px;
}

.tech {
    font-weight: 900;
}

