<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div id ="about" class="left padded box">
                <h1>I develop with passion applications and web sites tailored to each person.</h1>
                <p>I am constantly growing at new technologies 
                    and developing apps as a hobby.
                    This web was built from scratch with Python and Flask. 
                    Always trying to improve my knowledge and skill in this world.</p>
            </div>
            <div class="right padded box">
                <h1>Curriculum Vitae</h1>
                <p> Download pdf &nbsp;&nbsp; <a class="orange" target="_blank" href="static\CV.pdf">Click here</a></p>
            </div>
        </div>
        <div class="row vert-pad">
            <div  class="left padded box">
                <h1>Certificate</h1>
                <a target="_blank" href="static\LeandroBorsini-PCAP.pdf">PCAP - Python</a><br>
                <a target="_blank" href="static\Leandro Borsini - PCEP.pdf">PECP - Python</a>
            </div>
            <div class="right padded box">
                <h1>Lets Catch up!</h1>
                <p>If you want to talk about something or give me feedback. <br>
                Just send me an email… &nbsp;&nbsp;<a class="orange" href="#contacto">Click here</a></p>
            </div>
        </div>
        
    </div>
</div>