<div class="center padde">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Now or Never! Let's work together &nbsp;&nbsp;
                    <i class="em em-wink" aria-role="presentation" aria-label="WINKING FACE"></i>
                </h1>
                <p>I will do my best to learn, add value, and have a fruitful long-term relationship!!!</p>
            </div>
            <div id="contacto" class="right padded">
                <form action="https://formsubmit.co/c2281000c1a9996975cb4c15419aba95" class="contact-form" method="POST">
                    <input name="name" placeholder="Name" required>
                    <input name="email" placeholder="Email" required type="email">
                    <textarea name="message" placeholder="Message" required minlength=10></textarea>
                    <button class="btn full-width">Send</button>

                    <input type="hidden" name="_next" value="http://127.0.0.1:5000/mail">
                </form>
            </div>
        </div>
    </div>
</div>