<div class="center padded bg">
    <div class="content padded">
        <div class="padded">
            <h1>Most Relevant Projects!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer App</h3>
                <p>Web applications that you can use for send a mail using an external API.</p>
                <p class="tech">Technologies:  HTML, CSS, Python, Flask, API Sendgrid</p>
                <!-- <a class="orange" target="_blank" href="#">Link here</a> -->
                <p > In Progress: you can see the process on github!</p>
            </div>
            <div class="card third">
                <h3>To Do List</h3>
                <p>A web application which you can manage your tasks to perform.</p>
                <p class="tech">Technologies:  HTML, CSS, Python, Flask, MySql</p>
                <!--<a class="orange" href="#">Link here</a> -->
                <p > In Progress: you can see the process on github!</p>
            </div>
            <div class="card third">
                <h3>Photo-Viewer</h3>
                <p>Photo viewer is a .exe app where you can add any photo from your device.</p>
                <p class="tech">Technologies: Python</p>
                <!-- <a class="orange" target="_blank" href="#">Link here</a> -->
                <p > In Progress: you can see the process on github!</p>
            </div>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Calc</h3>
                <p>An .exe with a calculator application.</p>
                <p class="tech">Technologies:  Python</p>
                <a class="orange" href="static\calculadora.exe">Link here</a>
            </div>
            <div class="card third">
                <h3>CRM</h3>
                <p>A customer manager .exe with an integrated database and Treeview to display information as a table.</p>
                <p class="tech">Technologies: Python, SQLite.</p>
                <a class="orange" href="static\libretaCliente.exe">Link here</a>
            </div>
            <div class="card third">
                <h3>FitO-Manager</h3>
                <p>Personal trainer app.</p>
                <p class="tech">Technologies: Python, MySql, API Sendgrid</p>
                <p > In Progress! First step: planning</p>
            </div>
        </div>
    </div>
</div>