<div class="center padded bg">
    <div class="content padded">
        <div class="padded">
            <h1>Most Relevant Projects!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer App</h3>
                <p>Web applications that you can use for send a mail using an external API.</p>
                <p class="tech">Technologies:  HTML, CSS, Python, Flask, API Sendgrid</p>
                <a class="orange" target="_blank" href="#">Link aqui</a>
            </div>
            <div class="card third">
                <h3>To Do List</h3>
                <p>Una aplicacion para gestionar tus clientes.</p>
                <p class="tech">Technologies:  HTML, CSS, Python, Flask, MySql</p>
                <a class="orange" href="#">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Photo-Viewer</h3>
                <p>Web applications that you can use for send a mail using an external API.</p>
                <p class="tech">Technologies: Python</p>
                <a class="orange" target="_blank" href="#">Link aqui</a>
            </div>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Calc</h3>
                <p>Una aplicacion para gestionar tus tareas.</p>
                <p class="tech">Technologies:  Python</p>
                <a class="orange" href="static\calculadora.exe">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de Clientes</h3>
                <p>Una aplicacion para gestionar tus clientes.</p>
                <p class="tech">Technologies: Python, SQLite.</p>
                <a class="orange" href="static\libretaCliente.exe">Link aqui</a>
            </div>
            <div class="card third">
                <h3>FitO-Manager</h3>
                <p>Personal trainer app.</p>
                <p class="tech">Technologies: Python, MySql, API Sendgrid</p>
                <p > In Progress! First step: model</p>
            </div>
        </div>
    </div>
</div>