<div class="center padded bg">
    <div class="content padded">
        <div class="padded">
            <h1>Mira lo que hemos construido!!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer APP</h3>
                <p>Una aplicacion web que envia correos utilizando la API de Sengrid.</p>
                <a class="orange" target="_blank" href="#">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de Clientes</h3>
                <p>Una aplicacion para gestionar tus clientes.</p>
                <a class="orange" href="#">Link aqui</a>
            </div>
            <div class="card third">
                <h3>To Do APP</h3>
                <p>Una aplicacion para gestionar tus tareas.</p>
                <a class="orange" href="#">Link aqui</a>
            </div>
        </div>
    </div>
</div>