<div class="hero">
    <div class="hero-content">
        <div class="left">
            <h1> Perfect! your mail was sent!</h1>
            <p>A group of trained monkeys is checking your mail... !! <br>
            It's a joke &nbsp;&nbsp; <i class="em em-joy" aria-role="presentation" aria-label="FACE WITH TEARS OF JOY"></i> &nbsp;&nbsp;
            not everyone is trained!! <br>
            But they will answer you as soon as possible! :)</p>
        </div>
        <div class="right">
            <img class="letter" src="{{ url_for('static', filename='sent.png') }}">
        </div>
    </div>
</div>