<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Portfolio</title>
<link rel="shortcut icon" href="static\logo.ico" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap" rel="stylesheet">

<body>
    <header>
        <div class="logo"><img width="600px" src="{{ url_for('static', filename='logo.png') }}"></div>

        <nav>
            <ul>
                <li><a href="{{ url_for('portfolio.index') }}">Inicio</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section>{% block content %}{% endblock %}</section>
    <div class="footer">
        <div class="center full-width">
            <div class="row">
                <h3>Contact me</h3>
            </div>
            <div class="center full-width">
                <div class="row">
                    <p>O tambien puedes seguirme en redes Sociales!!!!</p>
                </div>
            </div>
            <div class="center full-width social-link">
                <div class="row">
                    <a class="social" href="https://www.linkedin.com/in/leandro-borsini-9209bb20b/" target="_blank"><img width="30" src="{{ url_for('static', filename='linkedin.png') }}" alt=""></a>
                </div>
            </div>
        </div>
        <div class="made-with">
            <div class="row">
                <p>Hecho por LBorsiniSoftware </p>
            </div>
        </div>
    </div>
</body>